body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mh {
    font-weight: normal;
    font-size: 50px;
    color: white;
}
.sh {
    font-weight: 300;
    font-size: 42px;
    color: white;  
}
.th {
    font-size: 21px;
    color: gray;  
}
.link {
    font-size: 16px;
    color: aquamarine;
}